.page-content-wrapper .page-content.gantt {
  padding: 0;
}

.page-content-wrapper .page-content.gantt .container-fluid {
  padding: 0;
}

.form-inline .form-group {
  margin-right: 10px;
}

#date-start,
#date-end {
  text-align: center;
}

.gantt {
  /* rules that are specific to gantt layout */
  font-family: 'Roboto', sans-serif;
}
